# If we receive X-Forwarded-Proto, pass it through; otherwise, pass along the
# scheme used to connect to this server
map $http_x_forwarded_proto $proxy_x_forwarded_proto {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

# If we receive Upgrade, set Connection to "upgrade"; otherwise, delete any
# Connection header that may have been passed to this server
map $http_upgrade $proxy_connection {
  default upgrade;
  ''      '';
}

gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

# Maximum upload size (affects size of text a user can type in the editor). Default is 1 MB
client_max_body_size 20M;

log_format vhost '$host $remote_addr - $remote_user [$time_local] '
                 '"$request" $status $body_bytes_sent '
                 '"$http_referer" "$http_user_agent"';

access_log /proc/self/fd/1 vhost;
error_log /proc/self/fd/2;

# HTTP 1.1 support
proxy_http_version 1.1;
proxy_buffering off;
proxy_set_header Host $http_host;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $proxy_connection;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;

proxy_read_timeout 600s;
{{ $cert := "default" }}

server {
  listen 80;
  server_name localhost data.open-ease.org;
  # entrypoint that connects to ros service on the host
  # TODO: figure out howto make the IP a variable so that openEASE can connect
  #   to remote ROS master.
  #location ~ ^/ws/remote/(.*)$ {
    #rewrite /ws/remote/.*/(.*) /$1 break;
    #proxy_pass http://$1:9090;
  #}
  # Allow connections to ROS master on docker host via /ws/remote/172.17.42.1
  location /ws/remote/172.17.42.1 {
    rewrite /ws/remote/172.17.42.1/(.*) /$1 break;
    proxy_pass http://172.17.42.1:9090;
  }
  
  location  /mln/ {
    rewrite /mln/(.*) /mln/$1 break;
    proxy_pass http://172.17.42.1:5002;
  }

  location  /prac/ {
    rewrite /prac/(.*) /prac/$1 break;
    proxy_pass http://172.17.42.1:5001;
  }

  # iterates over all containers and creates 'location' entries
  # websocket endpoints: /ws/<container-name>
  {{ range $host, $containers := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
    {{ range $container := $containers }}
      {{ if $container.Env.VIRTUAL_PORT }}
        {{ range $i, $address := $container.Addresses }}
          {{ if eq $address.Port $container.Env.VIRTUAL_PORT }}
  # Container {{ $host }}
            {{ if eq $host "flask" }}
  location / {
            {{ else if $container.Env.OPEN_EASE_WEBAPP }}
  location /{{ $host }}/ {
            {{ else }}
  location /ws/{{ $host }}/ {
    rewrite /ws/{{ $host }}/(.*) /$1 break;
            {{ end }}
    proxy_pass http://{{ $address.IP }}:{{ $address.Port }};
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  }
  {{ end }}
}

{{ if (and (ne $cert "") (exists (printf "/etc/nginx/certs/%s.crt" $cert)) (exists (printf "/etc/nginx/certs/%s.key" $cert))) }}
server {
  server_name localhost data.open-ease.org;
  listen 443 ssl;
  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA;
  ssl_prefer_server_ciphers on;
  ssl_session_timeout 10m;
  ssl_session_cache shared:SSL:50m;
  ssl_certificate /etc/nginx/certs/{{ (printf "%s.crt" $cert) }};
  ssl_certificate_key /etc/nginx/certs/{{ (printf "%s.key" $cert) }};
  ssl_dhparam /etc/nginx/certs/dhparams.pem;
  add_header Strict-Transport-Security "max-age=31536000";
  proxy_redirect http:// https://;
  location / {
    proxy_pass http://localhost;
  }
}
{{ end }}