{% extends 'flask_user/public_base.html' %}

{% block content_inner %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="page-centered">
    <div id="page-body">
        <div class="content-box" id="forgot-password-box">
            <h1 class="content-box-header">{%trans%}Forgot Password{%endtrans%}</h1>

            <div class="row">
                <div class="field-hint" id="forgot-password-link">
                    <a href="{{ url_for('user.login') }}" tabindex='195'>
                        {%trans%}Remember your Password? Sign in.{%endtrans%}</a>
                </div>
            </div>
            
            <form action="" method="POST" class="form" role="form">
                {{ form.hidden_tag() }}
                <div id="user-field" class="form-group">
                    <input placeholder="Email" class="form-control" id="mail" name="mail" type="text" value="" required autofocus />
                </div>
                <button id="reset-pw-button" class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
            </form>
        </div>
        <div class="content-box" id="video-box">
            <h1 class="content-box-header">Howto use openEASE</h1>
            <video id="howto-video" width="420" height="236" src="{{ url_for('static', filename='HowtouseopenEASE.mp4') }}" controls></video>
        </div>
    </div>
</div>

{% endblock %}