{% extends "layout.html" %}

{% block menu %}
{% block _menu %}{% endblock %}
{% endblock %}
{% block menu_right %}
{% block _menu_right %}{% endblock %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="//cdn.kendostatic.com/2014.1.318/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="//cdn.kendostatic.com/2014.1.318/styles/kendo.default.min.css" />
    <link rel="stylesheet" href="//cdn.kendostatic.com/2014.1.318/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="//cdn.kendostatic.com/2014.1.318/styles/kendo.dataviz.default.min.css" />
    <script src="//cdn.kendostatic.com/2014.1.318/js/kendo.all.min.js"></script>
{% endblock %}

{% block content %}

<div id="example">
    <div id="grid"></div>
    
    <script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/knowrob/admin/tutorial_list",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json"
                    }
                },
                schema: {
                    data: 'tutorials',
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number", editable: false, nullable: false },
                            cat_title: { type: "string", editable: true },
                            page: { type: "number", editable: true, nullable: false },
                            title: { type: "string", editable: true },
                            text: { type: "string", editable: true }
                        }
                    }
                }
            },
            save: function(e) {
                $.ajax({
                    url: "/knowrob/admin/tutorial_save",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        cat_title: e.model.cat_title,
                        page: e.model.page,
                        title: e.model.title,
                        text: e.model.text
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            remove: function(e) {
                $.ajax({
                    url: "/knowrob/admin/tutorial_remove",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        cat_title: e.model.cat_title,
                        page: e.model.page,
                        title: e.model.title,
                        text: e.model.text
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            columns: [
                { field: "id", title: "ID", width: 40 },
                { field: "cat_title", title: "Category", width: 100 },
                { field: "page", title: "Page", width: 75 },
                { field: "title", title: "Title", width: 100 },
                { field: "text", title: "Text", encoded: false, editor: textareaEditor },
                { command: ["edit", "destroy"], title: "&nbsp;", width: 100 }
            ],
            editable: "inline",
            sortable: true,
            autoHeight:true
        });
        function textareaEditor(container, options) {
            $('<textarea class="tut_textarea" data-bind="value: ' + options.field + '"></textarea>').appendTo(container);
        }
    });
    </script>
</div>
{% endblock %}