{% extends "knowrob.html" %}


{% block content %}
  <script type="text/javascript">

    $(document).ready(function () {
      var knowrobLayout = $('#container').layout({
        stateManagement__enabled: true,
        south: {
          minSize: 60
        },
        west: {
          minSize: 250,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#console",
              onresize: function() {
                ace.edit("history").resize(true);
                ace.edit("user_query").resize(true);
              },
              minSize: 250
            },
            south: {
              paneSelector: "#library",
              minSize: 150
            }
          }
        },
        center: {},
        east: {
          minSize: 250,
          size: 500,
          initClosed: true,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#designator",
              minSize: 250
            },
            south: {
              paneSelector: "#mjpeg",
              minSize: 150
            }
          }
        }
      });
      var centerLayout = $('#editor-container').layout({
            center: {
              paneSelector: "#markers",
              onresize: function() {
               if( knowrob ) knowrob.resize_canvas();
              },
              minSize: 50
            },
            south: {
              paneSelector: "#chart",
              initClosed: true,
              minSize: 50
            }
      });
      knowrob.resize_canvas();
      
      $('#designator').change(function() { knowrobLayout.open('east'); });
      $('#mjpeg').change(function() { knowrobLayout.open('east'); });
      $('#chart').change(function() { centerLayout.open('south'); });
    });
  </script>

  <div class="ui-layout-center" id="editor-container">
    <div id="markers"></div>
    <div id="chart"></div>	
  </div>

  <div class="ui-layout-west">
    <div id="console">
      <div id="console_top">
        <div id="history" style="font-size:20px;"></div>
        <div id="user_query" style="font-size:20px;">member(A, [a,b,c]).</div>
      </div>
      <div id="console_bottom">
        <div id="query_buttons">
          <ul class="query_button_group">
            <li><a href="#" class="query_button" id="btn_query"  onclick="knowrob.query()">Query</a></li>
            <li><a href="#" class="query_button" id="btn_query_next" onclick="knowrob.next_solution()">Next Solution</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="library" style="font-size:20px;">
      <select onclick="knowrob.add_selected_to_queryform('examplequery')" 
        size="20" name="examplequery" id="examplequery"><option value=0></option>
      </select>
    </div>
  </div>
  
  <div class="ui-layout-east">
    <div id="designator"></div>
    <div id="mjpeg"></div>
  </div>
  
{% endblock %}