form textarea {
     width: 700px;
     height: 250px;
     max-width: 800px;
     max-height: 1000px;
}

form input#description {
     width: 700px;
     max-width: 800px;
}

form input[type=text] {
     width: 700px;
     max-width: 800px;
}

#content table {
    border-collapse:collapse;
}

#content {
    overflow: hidden;
}

#formtable {
    width: 900px;
    float:left; /* add this */
    border: none;
}
#visualization {
    overflow: hidden; /* if you don't want #second to wrap below #first */
    height:1000px;
}

#viz {
    border: 1px dashed gray;
    height: 800px;
    background-color: #ffffff;
}

#footer {
    position:absolute;
    right:5px;
    bottom:5px;
}

#result {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}


.link {
  fill: none;
  stroke: #08088A;;
  stroke-width: 1.5px;
}

.link.strokegreen {
  stroke: green;
}

.link.object {
  stroke: green;
}

.link.strokeblue {
  stroke: blue;
}

.link.default {
  stroke: black;
}

.link.dashedred {
  stroke-dasharray: 0,2 1;
  stroke: red;
}

circle {
  fill: #A9D0F5;
  stroke: #08088A;
  stroke-width: 1.5px;
}

rect {
  fill: #A9D0F5;
  stroke: #08088A;
  stroke-width: 1.5px;
}

text {
  font: 15px sans-serif bold;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}