{% extends 'flask_user/public_base.html' %}
{% block bodyargs %} {% endblock %}
{% block content_inner %}

<div class="page-centered">
    <div class="headline">
    <div class="content-box" id="welcome-headline-box">
    <h1 class="content-box-header">{%trans%}Welcome to openEASE{%endtrans%}</h1>
        You successfully logged into openEASE!<br><br>
        Through this web interface, we provide access to comprehensive episodic memory
        of bleeding edge autonomous robotic experiments performed in realistic environments.
        The episodic memory is represented based on predicate logics using the
        programming language <a href="http://www.swi-prolog.org/">Prolog</a>.
        Please consider stepping through the <a href="knowrob/tutorials">query language tutorials</a>
        and watching the <a href="http://www.youtube-nocookie.com/embed/iu_Y7mxDjgA">tutorial video</a>
        linked at the bottom of this page before investigating one of the experiments.<br><br>
        The experiments are ordered according to their corresponding research projects.
        To access the experiments, please click on the <a href="knowrob">Knowledge Base</a> menu entry at the top left of this page
        or select one of the experiments directly from the menu at the top right of this page.
        This will redirect you to the <a href="knowrob">main user interface</a> of openEASE.
    </div></div>

    <div id="page-body">
        <div class="content-box" id="user-data-box">
            <h1 class="content-box-header">{%trans%}Signed in as{%endtrans%}</h1>
            <dl>
                <dt>Username: </dt><dd>{{ current_user.username }}</dd>
                <dt>Email: </dt><dd>{{ current_user.email }}</dd>
                <dt>Roles: </dt><dd>{{ role_names }}</dd>
                <dt>API token: </dt><dd>{{ session.api_token }} (<a href="{{ url_for('create_api_token') }}">create new</a>)</dd>
            </dl>
        </div>
        <div id="video-box">
            <iframe width="420" height="270" src="//www.youtube-nocookie.com/embed/iu_Y7mxDjgA"></iframe>
        </div>
    </div>
</div>

{% endblock %}

