{% extends "layout.html" %}


<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->


{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/three.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/ColladaLoader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/STLLoader.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/ColladaAnimationCompress/ColladaLoader2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/depthcloud/DepthCloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Arrow.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Axes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Grid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/MeshResource.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/TriangleList.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerControl.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerHandle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerMenu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/maps/OccupancyGridClient.js') }}') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/maps/OccupancyGrid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/MarkerArrayClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/Marker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/urdf/UrdfClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/urdf/Urdf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/SceneNode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/Highlighter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/MouseHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/OrbitControls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/json_prolog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/KeepAlivePublisher.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>

  
  <script type="text/javascript">
  
    // The index to the currently active history item
    // history items are saved on the server and queried using AJAX
    var historyIndex = -1;
    
    // Names of prolog predicates and modules for auto completion
    var prologNames = [];

    // global ROS handle
    var ros;

    //global jsonprolog handle
    var prolog;
    
    // the 3d canvas
    var ros_viewer;
    
    function get_ros_viewer() {
      return ros_viewer;
    }
    
    function resize_canvas() {
      var w = $('#markers').width()-8.0;
      var h = $('#markers').height()-8.0;
      var viewer = get_ros_viewer();
      
      viewer.renderer.setSize(w, h);
      viewer.camera.aspect = w/h;
      viewer.camera.updateProjectionMatrix();
    }

    function init() {
      // Connect to ROS.
      ros = new ROSLIB.Ros({
        url : 'ws://{{ host_url }}/ws/{{ container_name }}/'
      });

      // Create the main viewer.
      ros_viewer = new ROS3D.Viewer({
        divID : 'markers',
        width : 820,
        height : 460,
        antialias : true,
        background : '#ffffff'
      });

      ros_viewer.addObject(new ROS3D.Grid());
      
      // Setup publisher that sends a dummy message in order to keep alive the socket connection
      new KeepAlivePublisher({
        ros : ros,
        interval : 30000
      });
      
      // Setup a client to listen to TFs.
      var tfClient = new ROSLIB.TFClient({
        ros : ros,
        angularThres : 0.01,
        transThres : 0.01,
        rate : 10.0,
        fixedFrame : '/my_frame'
      });

      // Setup the marker client.
      var markerClient = new ROS3D.MarkerClient({
        ros : ros,
        tfClient : tfClient,
        topic : '/visualization_marker',
        rootObject : ros_viewer.scene
      });

      // Setup the marker array client.
      var markerArrayClient = new ROS3D.MarkerArrayClient({
        ros : ros,
        tfClient : tfClient,
        topic : '/visualization_marker_array',
        rootObject : ros_viewer.scene,
        markerClient : markerClient
      });

      var desig_listener = new ROSLIB.Topic({
        ros : ros,
        name : '/logged_designators',
        messageType : 'designator_integration_msgs/Designator'
      });

      desig_listener.subscribe(function(message) {
        document.getElementById("designator").innerHTML=format_designator(message.description, "", 0, 0);
      });

      var img_listener = new ROSLIB.Topic({
        ros : ros,
        name : '/logged_images',
        messageType : 'std_msgs/String'
      });

      img_listener.subscribe(function(message) {
        document.getElementById("mjpeg").innerHTML='<img class="picture" src="/'+message.data+'" width="300" height="240"/>';
      });
      
      var options = {
        ros: ros,
        containerId: '#chart',
        topic: 'data_vis_msgs',
        //width: 500,//210,
        //height: 500//210
      };
      var dataVisClient = new DataVisClient(options);
      
      resize_canvas();
      
      // fill example query select
      populateQuerySelect('examplequery', "{% if exp_query_file
          %}{{ url_for('static', filename=exp_query_file) }}{%
        else
          %}{{ url_for('static', filename='queries.json') }}{%
        endif %}");
      
      updatePrologNames();
    };

    function queryProlog(query) {
    
      var history = ace.edit("history");
      var q = query.getValue().trim();
    
      if (q.substr(q.length - 1) == ".") {
        q = q.substr(0, q.length - 1);

        if (prolog != null && prolog.finished == false) {
          prolog.finishClient();
        }

        prolog = new JsonProlog(ros, {});

        
        history.setValue(history.getValue() + "\n\n?- " + q +  ".\n", -1);
        history.navigateFileEnd();

        prolog.jsonQuery(q, function(result) {
            history.setValue(history.getValue() + result, -1);
            history.navigateFileEnd();
        }, mode=1);
        
        query.setValue("");
        
        addHistoryItem(q);
        historyIndex = -1;
        
      } else {
        if (prolog != null && prolog.finished == false) {
          prolog.finishClient();
        }
      }
    };

    function nextQueryProlog() {
    
      var history = ace.edit("history");
      prolog.nextQuery(function(result) {
            history.setValue(history.getValue() + result, -1);
            history.navigateFileEnd();
        });

      user_query.focus();
    };

    function addHistoryItem(query) {
        $.ajax({
            url: "/add_history_item",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({query: query}),  
            dataType: "json"
        }).done( function (request) {})
    }

    function setHistoryItem(index) {
        $.ajax({
            url: "/get_history_item",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({index: index}),  
            dataType: "json",
            success: function (data) {
                 ace.edit("user_query").setValue(data.item);
                 historyIndex = data.index;
            }
        }).done( function (request) {})
    }

    function setNextHistoryItem() {
        setHistoryItem(historyIndex+1);
    }
    
    function setPreviousHistoryItem() {
        setHistoryItem(historyIndex-1);
    }


    // example query selection stuff
    // -------------------------------------

    // fill the select with json data from url
    function populateQuerySelect(id, url) {

      // url must point to a json-file containing an array named "query" with
      // the query strings to display in the select
      var request = new XMLHttpRequest
      request.open("GET", url, false);
      request.send(null);

      var querylist = JSON.parse(request.responseText);

      var select = document.getElementById(id);

      for (var i = 0; i < querylist.query.length; i++) {
        var opt = document.createElement('option');
        opt.value = querylist.query[i].q;
        opt.innerHTML = querylist.query[i].text;
        select.appendChild(opt);
      }
    }

    // append the selected query to the user_query form
    function addSelectedToQueryform(selectid) {
      var select = document.getElementById(selectid);
      setQueryValue(select.options[select.selectedIndex].value);
    }

    // set the value of the query editor and move the cursor to the end
    function setQueryValue(val){
      var user_query = ace.edit("user_query");
      user_query.setValue(val, -1);
      user_query.focus();
      user_query.navigateFileEnd();
    }

    // hook for links of class "show_code" that pastes the content of the
    // previous code block into the query field
    $( document ).ready(function() {
      $( "a.show_code" ).click(function( event ) {
        setQueryValue( $(this).closest("pre + *").prev().find('code').html() );
        event.preventDefault();
      });
    });

    function setupHistoryField() {
        var history = ace.edit("history");
        history.setTheme("ace/theme/solarized_light");
        history.getSession().setMode("ace/mode/prolog");
        history.getSession().setUseWrapMode(true);
        history.setOptions({
            readOnly: true,
            showGutter: false,
            printMarginColumn: false,
            highlightActiveLine: false,
            highlightGutterLine: false
        });
//         history.renderer.$cursorLayer.element.style.opacity=0;
        
        return history;
    }

    function setupQueryField() {
        var user_query = ace.edit("user_query");
        user_query.resize(true);
        user_query.setTheme("ace/theme/solarized_light");
        user_query.getSession().setMode("ace/mode/prolog");
        user_query.getSession().setUseWrapMode(true);
        user_query.setOptions({
            showGutter: false,
            printMarginColumn: false,
            highlightActiveLine: false,
            highlightGutterLine: false,
            enableBasicAutocompletion: true
        });
        
        // Add completer for prolog code
        ace.require("ace/ext/language_tools").addCompleter({
            getCompletions: function(editor, session, pos, prefix, callback) {
                callback(null, getPrologNames().map(function(x) {
                    return {name: x, value: x, score: 100, meta: "pl"};
                }));
            }
        });
        
        user_query.commands.addCommand({
            name: 'send_query',
            bindKey: {win: 'Enter',  mac: 'Enter'},
            exec: function(editor) {
                queryProlog(user_query);
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'new_line',
            bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
            exec: function(editor) {
                setQueryValue(user_query.getValue()+"\n");
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'next_result',
            bindKey: {win: 'Ctrl-;',  mac: 'Command-;'},
            exec: function(editor) {
                nextQueryProlog();
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'next_result',
            bindKey: {win: 'Ctrl-n',  mac: 'Command-n'},
            exec: function(editor) {
                nextQueryProlog();
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'next_history',
            bindKey: {win: 'Up',  mac: 'Up'},
            exec: function(editor) {
                setNextHistoryItem();
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'previous_history',
            bindKey: {win: 'Down',  mac: 'Down'},
            exec: function(editor) {
                setPreviousHistoryItem();
            },
            readOnly: false
        });

        return user_query;
    }
    
    function updatePrologNames() {
        var pl = new JsonProlog(ros, {});
        
        prologNames.length = 0;
        
        // Query for predicates/modules and collect all results
        pl.jsonQuery("findall(X, current_predicate(X/_);current_module(X), L)", function(x) {
          // Parse each value
          var lines = x.split("\n");
          for(i=1; i<lines.length-1; ++i) {
            var tmp = lines[i].split(" = ");
            if(tmp.length==2) {
              prologNames.push(tmp[1].trim());
            }
          }
          
          prologNames.sort();
        });
    }
    
    function getPrologNames() {
        return prologNames;
    }
</script>
{% endblock %}

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->

{% block bodyargs %} onload="init()"{% endblock %}

