{% extends "knowrob.html" %}


{% block content %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/layout/jquery.layout-1.4.0.js') }}"></script>
  <script type="text/javascript">

    $(document).ready(function () {
      var history = setupHistoryField();
      var user_query = setupQueryField();
      $('#container').layout({
        south: {
          minSize: 75
        },
        west: {
          minSize: 250,
          maxSize: 750,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#console",
              onresize: function() {
                ace.edit("history").resize(true);
                ace.edit("user_query").resize(true);
              },
              minSize: 250
            },
            south: {
              paneSelector: "#library",
              minSize: 250
            }
          }
        },
        center: {
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#markers",
              onresize: resize_canvas,
              minSize: 250
            },
            south: {
              paneSelector: "#chart",
              minSize: 250
            }
          }
        },
        east: {
          minSize: 250,
          maxSize: 750,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#designator",
              minSize: 250
            },
            south: {
              paneSelector: "#mjpeg",
              minSize: 250
            }
          }
        }
      });
    });
  </script>

  <div class="ui-layout-center" id="editor-container">
    <div id="markers"></div>
    <div id="chart"></div>	
  </div>

  <div class="ui-layout-west">
    <div id="console">
      <div id="history"></div>
      <div id="user_query">member(A, [a,b,c]).</div>
    </div>
    <div id="library">
      <select onclick="addSelectedToQueryform('examplequery')" 
        size="20" name="examplequery" id="examplequery"><option value=0></option>
      </select>
    </div>
  </div>
  
  <div class="ui-layout-east">
    <div id="designator"></div>
    <div id="mjpeg"></div>
  </div>
  
{% endblock %}