<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Oswald|Source+Code+Pro" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='screen.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='overlay/iosOverlay.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='overlay/prettify.css') }}"/>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script type="text/javascript" src="{{ url_for('static', filename='overlay/iosOverlay.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='overlay/spin.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='overlay/prettify.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
  {% block head %}{% endblock %}
</head>


<body{% block bodyargs %}{% endblock %}>
  <div class="metanav">
    <div class="metanav_left">
      <a href="{{ url_for('knowrob') }}" id="loading">Knowledge Base</a> &nbsp;&nbsp;
      <a href="{{ url_for('editor') }}" id="loading">Editor</a> &nbsp;&nbsp;
      <a href="{{ url_for('log') }}" id="loading">Log</a> &nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span style="color: #606060;">Experiment:</span>&nbsp;
      <select class='expSelect' id="exp-selection"></select> &nbsp;&nbsp;
      
<!--      <a onClick="select_experiment()" id="loading">Experiment</a> &nbsp;&nbsp; -->
<!--       <a href="{{ url_for('knowrob') }}">Log Data Analysis</a> &nbsp;&nbsp; -->
<!--       <a href="{{ url_for('tutorials') }}">Tutorials</a> -->
    </div>
    <div class="metanav_right">
      {% if not current_user.is_authenticated() %}
	<a href="{{ url_for('user.login') }}">log in</a>
      {% else %}
	Logged in as <a href="{{ url_for('show_user_data') }}">{{ current_user.username }}</a> &nbsp;
	<a href="{{ url_for('user.logout') }}">log out</a>
      {% endif %}
    </div>
  </div>
  
  <div id="layout_placeholder" style="padding-left:15px;">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
  </div>


  {% block spinner %}{% endblock %}
  
  <script type="text/javascript">
      // Request available experiments
      $.ajax({
          url: "/exp_list",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({}),  
          dataType: "json",
          success: function (data) {
              $.each(data.result, function(j, experiment) {
                  document.getElementById("exp-selection").options.add(new Option(experiment,experiment));
                  if(experiment === data.selection) {
                      document.getElementById("exp-selection").selectedIndex = j;
                  }
              });
            }
      }).done( function (request) {})
      
      $(document).ready(function() {
          $("#exp-selection").change(function() {
              $.ajax({
                 url: "/exp_set",
                 type: "POST",
                 contentType: "application/json",
                 data: JSON.stringify({
                     experimentName: $("#exp-selection option:selected").val()
                 }),
                 dataType: "json",
                 success: function (data) {
                     window.location.reload();
                 }
               }).done( function (request) {});
          });
      });
  </script>

</body>
</html>
