{% extends "layout.html" %}

{% block content %}


  <div id="login" style="position:relative; left:0; width:226px;  top:5px; border: 1px black solid; padding:5px 25px;">

    <h4>{% if action=='login' %} Login {% elif action=='register' %}Sign up{% endif %} </h4>

    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

    <form action="{% if action=='login' %} {{ url_for('login') }} {% elif action=='register' %} {{ url_for('register') }} {% endif %}" method=post>

      <input type="text" name="username" value="Username" size=30 />
      <input type="password" name="password" value="password" size=30 />

      {% if action == "register" %}
        <input type="text" name="email" value="Email" size=30  />
        <input type="submit" value="{{ action }}"  style="float:right; margin-right:0;" >
      {% endif %}
      {% if action == "login" %}
        <a href="{{ url_for('register') }}" style="float:left; font-size:12px;">sign up</a>
        <input type="submit" value="{{ action }}" style="float:right; width:50px; margin-right:0px;" >
      {% endif %}
      &nbsp;
    </form>
  </div>

{% endblock %}
