{% extends "layout.html" %}



{% block bodyargs %} {% endblock %}


{% block content %}

<div class="login-box">
<h2>Your user data</h2>
<dl>
  <dt>Username: </dt><dd>{{ current_user.username }}</dd>
  <dt>Email: </dt><dd>{{ current_user.email }}</dd>
  <br/>

  <dt>KnowRob container: </dt><dd>{{ session.user_container_name }}</dd>
  <dt>User data container: </dt><dd>{{ session.user_data_container_name }}</dd>
  <dt>Common data container: </dt><dd>{{ session.common_data_container_name }}</dd>
  <dt>API token: </dt><dd>{{ session.api_token }} (<a href="{{ url_for('create_api_token') }}">create new</a>)</dd>
  <br/>


</dl>
</div>

{% endblock %}

