{% extends "layout.html" %}



{% block bodyargs %} onload="showSpinnerOverlay()"{% endblock %}


{% block content %}

<div class="login-box">
<h2>Your user data</h2>
<dl>
  <dt>Username: </dt><dd>{{ current_user.username }}</dd>
  <dt>Email: </dt><dd>{{ current_user.email }}</dd>
  <br/>

  <dt>KnowRob container: </dt><dd>{{ session.user_container_name }}</dd>
  <dt>User data container: </dt><dd>{{ session.user_data_container_name }}</dd>
  <dt>Common data container: </dt><dd>{{ session.common_data_container_name }}</dd>
  <br/>


</dl>
</div>

{% endblock %}


{% block spinner %}

  <script type="text/javascript">
    var webSocket = undefined;
    var isWebsocketOpened = false;
    var hasWebsocketError = false;
    
    function isWaitingForWebsocket() {
        if(isWebsocketOpened) {
            if(webSocket) webSocket.close();
            return false;
        }
        if(webSocket == undefined) {
            hasWebsocketError = false;
            
            var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
            webSocket = new WebSocket(wsproto + '://{{ host_url }}/ws/{{ container_name }}/');
            
            webSocket.onopen = function() {
                isWebsocketOpened = true;
            };
            webSocket.onclose = function() {
                webSocket = undefined;
            };
            webSocket.onerror = function() {
                hasWebsocketError = true;
            };
        }
        
        if(hasWebsocketError) {
            if(webSocket) webSocket.close();
        }
        
        return true;
    }
    // Overlay for loading
    function showSpinnerOverlay() {
        iosOverlay({
                text: "Connecting to Web Socket Server",
                isSpinning: isWaitingForWebsocket,
                spinner: createSpinner()
        });
        return false;
    }
//     showSpinnerOverlay() ;
</script>

{% endblock %}
