{% extends "layout.html" %}



{% block bodyargs %}{% if overlay %} onload="showSpinnerOverlay()"{% endif %}{% endblock %}


{% block content %}

<div class="login-box">
<h2>Your user data</h2>
<dl>
  <dt>Username: </dt><dd>{{ current_user.username }}</dd>
  <dt>Email: </dt><dd>{{ current_user.email }}</dd>
  <br/>

  <dt>KnowRob container: </dt><dd>{{ session.user_container_name }}</dd>
  <dt>User data container: </dt><dd>{{ session.user_data_container_name }}</dd>
  <dt>Common data container: </dt><dd>{{ session.common_data_container_name }}</dd>
  <br/>


</dl>
</div>

{% endblock %}


{% block spinner %}

  <script type="text/javascript">
    // TODO: Show overlay until rosbridge connection established.
    // Overlay for loading
    function showSpinnerOverlay() {
        var opts = {
                lines: 13, // The number of lines to draw
                length: 11, // The length of each line
                width: 5, // The line thickness
                radius: 17, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                color: '#FFF', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
        };
        var target = document.createElement("div");
        document.body.appendChild(target);
        var spinner = new Spinner(opts).spin(target);
        iosOverlay({
                text: "Loading",
                duration: 8e3,
                spinner: spinner
        });
        return false;
    }
//     showSpinnerOverlay() ;
</script>

{% endblock %}
