{% extends "layout.html" %}

{% block menu %}
{% block _menu %}{% endblock %}
{% endblock %}
{% block menu_right %}
{% block _menu_right %}{% endblock %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.common.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.default.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.default.min.css') }}" />
    <script type="text/javascript"  src="{{ url_for('static', filename='lib/kendo/kendo.all.min.js') }}" ></script>
{% endblock %}

{% block content %}

<div id="example">
    <div id="grid"></div>
    
    <script id="create_template" type="text/x-kendo-template">
        <a class="k-button" href="\#" onclick="return new_role()">Create new record</a>
    </script>
    <script>
    function new_role() {
        var roleName = prompt("Please enter a role name", "");
        if(roleName) {
            $.ajax({
                url: "/admin/role_new",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({name: roleName}),  
                dataType: "json",
                success: function (data) {
                    console.log("Role created!");
                    $('#grid').data('kendoGrid').dataSource.read();
                    $('#grid').data('kendoGrid').refresh();
                }
            }).done( function (request) {});
        }
    };
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/admin/role_list",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json"
                    },
                },
                schema: {
                    data: 'roles',
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number", editable: false, nullable: false },
                            name: { type: "string", editable: true }
                        }
                    }
                }
            },
            save: function(e) {
                $.ajax({
                    url: "/admin/role_save",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        name: e.model.name
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            remove: function(e) {
                $.ajax({
                    url: "/admin/role_remove",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        name: e.model.name
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            toolbar: [
                { template: kendo.template($("#create_template").html()) }
            ],
            columns: [
                { field: "id", title: "ID" },
                { field: "name", title: "Name" },
                { command: ["edit", "destroy"], title: "&nbsp;" }
            ],
            editable: "popup",
            sortable: true
        });
    });
    </script>
</div>
{% endblock %}