{% extends "layout.html" %}

{% block menu %}
{% block _menu %}{% endblock %}
{% endblock %}
{% block menu_right %}
{% block _menu_right %}{% endblock %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.common.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.default.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.default.min.css') }}" />
    <script type="text/javascript"  src="{{ url_for('static', filename='lib/kendo/kendo.all.min.js') }}" ></script>
{% endblock %}

{% block content %}

<div id="example">
    <div id="grid"></div>
    
    <script>
    $(document).ready(function () {
        var _roleDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/admin/role_list",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json"
                }
            },
            schema: {
                data: function(reply) { return reply.roles; }
            }
        });
        function roleDropDown(container, options) {
            $("<input data-bind='value:role' />")
                .attr("id", "ddl_role")
                .appendTo(container)
                .kendoDropDownList({
                    dataSource: _roleDataSource,
                    dataTextField: "name",
                    dataValueField: "name",
                    template: "<span data-id='${data.id}'>${data.name}</span>"
                });
        };

        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/admin/user_list",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json"
                    }
                },
                schema: {
                    data: 'users',
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number", editable: false, nullable: false },
                            username: { type: "string", editable: true },
                            email: { type: "string", editable: true },
                            role: { type: "string", editable: true }
                        }
                    }
                }
            },
            save: function(e) {
                $.ajax({
                    url: "/admin/user_save",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        username: e.model.username,
                        email: e.model.email,
                        role: e.model.role
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            remove: function(e) {
                $.ajax({
                    url: "/admin/user_remove",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        id: e.model.id,
                        name: e.model.username
                    }),  
                    dataType: "json",
                    success: function (data) {
                        $('#grid').data('kendoGrid').dataSource.read();
                        $('#grid').data('kendoGrid').refresh();
                    }
                }).done( function (request) {})
            },
            columns: [
                { field: "id", title: "ID" },
                { field: "username", title: "Name" },
                { field: "email", title: "Mail" },
                { field: "role", title: "Role", editor: roleDropDown},
                { command: ["edit", "destroy"], title: "&nbsp;" }
            ],
            editable: "popup",
            sortable: true
        });
    });
    </script>
</div>
{% endblock %}