{% extends "layout.html" %}

{% block head %}
<!-- TODO: use prolog only on parent frame -->
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery.ui.css') }}"/>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/console.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/kb-frame.js') }}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.common.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.default.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.default.min.css') }}" />
  <script type="text/javascript"  src="{{ url_for('static', filename='lib/kendo/kendo.all.min.js') }}"
 ></script>
 
   <link rel="stylesheet" href="{{ url_for('static', filename='lib/jsondiff/html.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='lib/jsondiff/annotated.css') }}" />
   <script type="text/javascript" src="{{ url_for('static', filename='lib/jsondiff/jsondiffpatch.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lib/jsondiff/jsondiffpatch-formatters.min.js') }}"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
    var ui;
    var visClient, graphClient;
    
    function on_marker_dblclick(marker) {
        var prolog = parent.client.newProlog();
        prolog.jsonQuery("term_to_atom("+marker.ns+",MarkerName), "+
            "marker_queries(MarkerName, MarkerQueries).",
            function(result) {
                prolog.finishClient();
                ui.loadObjectQueries(result.solution.MarkerQueries);
            }
        );
    };
    
    function on_marker_delete(ns) {
        if(parent.client.selectedMarker != undefined && ns === parent.client.selectedMarker) {
            ui.initQueryLibrary();
        }
    };
    
    function on_designator_received(obj) {
      $('#designator').html('');
      $('#designator').append(obj);
      $('#designator').change();
    };
    
    function on_image_received(imageHtml, imageWidth, imageHeight) {
        ui.imageWidth = imageWidth;
        ui.imageHeight = imageHeight;
        
        document.getElementById('mjpeg').innerHTML = imageHtml;
        $('#mjpeg').change();
        $('#mjpeg').resize();
    };
    
    function on_camera_pose_received(pose) {
        ui.setCameraPose(pose);
    };
    
    function on_episode_selected(lib) {
        ui.initQueryLibrary(lib.query);
        // initialize canvas
        ui.initCanvas();
        ui.resizeCanvas();
        // TODO(daniel): retract all user asserted facts!
    };
    
    function on_marker_contextmenu(marker) {};
    function on_render(camera,scene) {};
    
    function on_register_nodes() {
        visClient = new DataVisClient({
            ros: parent.client.ros,
            containerId: '#chart',
            topic: 'data_vis_msgs'
        });
        graphClient = new TaskTreeVisClient({
            ros: parent.client.ros,
            containerId: '#designator',
            topic: 'task_tree_msgs'
        });
    };

    function resize() {
      var knowrobLayout = $('#page-content').layout({
        stateManagement__enabled: true,
        south: {
          minSize: 60,
          maxSize: 60
        },
        west: {
          minSize: 250,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#console",
              onresize: function() {
                ace.edit("history").resize(true);
                ace.edit("user_query").resize(true);
              },
              minSize: 250
            },
            south: {
              paneSelector: "#library",
              minSize: 150
            }
          }
        },
        center: {},
        east: {
          minSize: 250,
          size: 500,
          initClosed: true,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#designator",
              minSize: 250
            },
            south: {
              paneSelector: "#mjpeg",
              minSize: 150,
              onresize: function() {
                $('#mjpeg').resize();
              }
            }
          }
        }
      });
      var centerLayout = $('#editor-container').layout({
            center: {
              paneSelector: "#markers",
              onresize: function() {
               if( ui ) ui.resizeCanvas();
              },
              minSize: 50
            },
            south: {
              paneSelector: "#chart",
              initClosed: true,
              minSize: 50
            }
      });
      ui.resizeCanvas();
      
      $('#designator').change(function() { knowrobLayout.open('east'); });
      $('#mjpeg').change(function() { knowrobLayout.open('east'); });
      $('#chart').change(function() { centerLayout.open('south'); });
    };
    
    $(document).ready(function () {
        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });
        ui = new KnowrobUI(parent.client, {
            use_console_overlay: true
        });
        ui.init();
        resize();
        
        if(parent.client.nodesRegistered && !visClient) {
            on_register_nodes();
        }
    });
</script>

<div id="page-content">
    <div class="ui-layout-center" id="editor-container">
        <div id="markers"></div>
        <div id="chart"></div>	
    </div>

    <div class="ui-layout-west">
        <div id="console">
            <div id="console_top">
                <div id="history"></div>
                <div id="user_query">member(A, [a,b,c]).</div>
            </div>
            <div id="console_bottom">
                <div id="query_buttons">
                    <ul class="query_button_group">
                        <li><a href="#" class="query_button icon_question" id="btn_query" onclick="ui.console.query()" title="Ask a query (ctrl+enter)"></a></li>
                        <li><a href="#" class="query_button icon_redo" id="btn_query_next" onclick="ui.console.nextSolution()" title="Infer next solution"></a></li>
                    </ul>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
        <div id="library">
            <div id="library_top">
                <div id="library_content"></div>
            </div>
            <div id="library_bottom">
                <div id="library_buttons">
                    <ul class="query_button_group">
                        <li><a href="#" class="query_button admin_button icon_edit" id="btn_query_edit" onclick="ui.editLibrary()" title="Edit the query library"></a></li>
                        <li><a href="#" class="query_button admin_button icon_diff" id="btn_query_diff" onclick="ui.diffQueries()" title="Diff the query library against the openEASE server"></a></li>
                    {% if current_user.is_authenticated and current_user.has_role('admin') %}
                        <li><a href="#" class="query_button admin_button icon_download" id="btn_query_download" onclick="ui.downloadQueries()" title="Download the query library from the FTP server"></a></li>
                        <li><a href="#" class="query_button admin_button icon_upload" id="btn_query_upload" onclick="ui.uploadQueries()" title="Upload the query library to the FTP server"></a></li>
                    {% endif %}
                        <li><a href="#" class="query_button admin_button icon_reset" id="btn_query_reset" onclick="ui.initQueryLibrary()" title="Reset to the episode query library"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  
    <div class="ui-layout-east">
        <div id="designator"></div>
        <div id="mjpeg"></div>
    </div>
    
    <div class="pane ui-layout-south">
        <div id="logo_container">
            <a href="http://www.robohow.eu" class="media" title="http://www.robohow.eu"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/robohow-logo.png') }}" class="media" alt="" />
            </a>
            <a href="http://www.roboearth.org" class="media" title="http://www.roboearth.org"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/roboearth-logo.png') }}" class="media" alt="" />
            </a>
            <a href="http://www.sherpa-project.eu" class="media" title="http://www.sherpa-project.eu"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/sherpa-logo.png') }}" class="media" alt="" />
            </a>
            <a href="http://www.saphari.eu" class="media" title="http://www.saphari.eu"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/saphari-logo.png') }}" class="media" alt="" />
            </a>    
            <a href="http://dfg.de/" class="media" title="http://www.acat-project.eu/"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/acat-logo.png') }}" class="media" alt="" />
            </a>
            <a href="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html" class="media" title="http://cordis.europa.eu/fp7/ict/programme/challenge2_en.html"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/fp7-logo.png') }}" class="media" alt="" />
            </a>
            <a href="http://dfg.de/" class="media" title="http://dfg.de/"  rel="nofollow">
                <img src="{{ url_for('static', filename='logos/dfg.jpg') }}" class="media" alt="" />
            </a>
        <div>
    </div>
</div>
</div> <!-- TODO: why is this required? Can't find the opening tag :/ -->
    
<div id="library-editor" class="modal">
  <div class="modal-content">
      <span class="library-editor-header"></span>
      <span class="library-editor-button icon_close"></span>
      <span class="library-editor-button icon_add"></span>
      <div id="library-editor-content"></div>
  </div>
</div>
<div id="dialog" title="Confirmation Required">
  Are you sure about this?
</div>

{% endblock %}
