{% extends "knowrob.html" %}


{% block content %}
  <script type="text/javascript">
    {% if current_user.is_authenticated and current_user.has_role('admin') %}
    LEFT_MENU_LIST.push({ text: "Query Library",
            submenu: [
                {
                    text: "Save Library",
                    onclick: save_queries
                },
                {
                    text: "Rename Selected",
                    onclick: set_query_text
                },
                {
                    text: "Move Selected Up",
                    onclick: query_up,
                    shortcut: "u"
                },
                {
                    text: "Move Selected Down",
                    onclick: query_down,
                    shortcut: "d"
                },
                {
                    text: "Insert After Selected",
                    onclick: add_query,
                    shortcut: "a"
                }
            ]
        });
    
    function ensure_selected() {
        if(document.getElementById("examplequery").selectedIndex<1) {
            window.alert("Please select a query.");
            return false;
        }
        else {
            return true;
        }
    }
    function selected_query_index() {
        return document.getElementById("examplequery").selectedIndex;
    }
    function selected_query_text() {
        var x = document.getElementById("examplequery");
        if(!ensure_selected()) return None;
        return x.options[x.selectedIndex].firstChild.data;
    }
    function set_query_text() {
        var text = window.prompt("Please enter natural language "+
            "representation for the Prolog query",selected_query_text());
        if(text) {
            var x = document.getElementById("examplequery");
            x.options[x.selectedIndex].firstChild.data = text;
        }
    }
    function selected_query_code() {
        var x = document.getElementById("examplequery");
        if(!ensure_selected()) return None;
        return x.options[x.selectedIndex].value;
    }
    function add_query() {
        var x = document.getElementById("examplequery");
        var i = selected_query_index()+1;
        var text = window.prompt("Please enter natural language "+
            "representation for the Prolog query","");
        if(text) {
            var opt = document.createElement('option');
            opt.value = '';
            opt.innerHTML = text;
            if(x.selectedIndex+1 < x.options.length) {
                x.insertBefore(opt, x.options[x.selectedIndex+1]);
            }
            else {
                x.appendChild(opt);
            }
        }
    }
    function delete_query() {
        if(!ensure_selected()) return;
        if(window.confirm('Do you really want to delete the query "'+selected_query_text()+'"')) {
            var x = document.getElementById("examplequery");
            x.removeChild( x.options[x.selectedIndex] );
        }
    }
    function save_query() {
        if(!ensure_selected()) return;
        var x = document.getElementById("examplequery");
        x.options[x.selectedIndex].value = ace.edit('user_query').getValue();
    }
    function query_move(increment) {
        if(!ensure_selected()) return;
        var x = document.getElementById("examplequery");
        var selIndex = x.selectedIndex;
        if(selIndex + increment <= 0) return;
        var selValue = x.options[selIndex].value;
        var selText = x.options[selIndex].text;
        x.options[selIndex].value = x.options[selIndex + increment].value;
        x.options[selIndex].text = x.options[selIndex + increment].text;
        x.options[selIndex + increment].value = selValue;
        x.options[selIndex + increment].text = selText;
        x.selectedIndex = selIndex + increment;
    }
    function query_up() { query_move(-1); }
    function query_down() { query_move(1); }
    
    function save_queries() {
        var experimentData = { query: [] };
        var x = document.getElementById("examplequery");
        for(var i=1; i<x.options.length; i++) {
            experimentData.query.push({
                q: x.options[i].value,
                text: x.options[i].text
            });
        };
        $.ajax({
            url: "/knowrob/exp_save",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(experimentData),  
            dataType: "json",
            success: function (data) {}
        }).done( function (request) {});
    }
    {% endif %}
    
    function query_select_key_event(event) {
        if (event.key == ' ') { // ENTER
            knowrob.query();
            return false;
        }
    {% if current_user.is_authenticated and current_user.has_role('admin') %}
        else if(event.keyCode == 46) { // DEL
            delete_query();
            return false;
        }
        else if(event.key == 'u') { // UP
            query_up();
            return false;
        }
        else if(event.key == 'd') { // DOWN
            query_down();
            return false;
        }
        else if(event.key == 'a') { // ADD
            add_query();
            return false;
        }
    {% endif %}
        return true;
    };

    function resize() {
      var knowrobLayout = $('#page-content').layout({
        stateManagement__enabled: true,
        south: {
          minSize: 60
        },
        west: {
          minSize: 250,
          size: 500,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#console",
              onresize: function() {
                ace.edit("history").resize(true);
                ace.edit("user_query").resize(true);
              },
              minSize: 250
            },
            south: {
              paneSelector: "#library",
              minSize: 150
            }
          }
        },
        center: {},
        east: {
          minSize: 250,
          size: 500,
          initClosed: true,
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#designator",
              minSize: 250
            },
            south: {
              paneSelector: "#mjpeg",
              minSize: 150,
              onresize: function() {
                $('#mjpeg').resize();
              }
            }
          }
        }
      });
      var centerLayout = $('#editor-container').layout({
            center: {
              paneSelector: "#markers",
              onresize: function() {
               if( knowrob ) knowrob.resize_canvas();
              },
              minSize: 50
            },
            south: {
              paneSelector: "#chart",
              initClosed: true,
              minSize: 50
            }
      });
      knowrob.resize_canvas();
      
      // XXX: save to call multiple times??
      $('#designator').change(function() { knowrobLayout.open('east'); });
      $('#mjpeg').change(function() { knowrobLayout.open('east'); });
      $('#chart').change(function() { centerLayout.open('south'); });
    };
    $(document).ready(function () {
      resize();
      $('#examplequery').keyup(query_select_key_event);
    });
  </script>

  <div class="ui-layout-center" id="editor-container">
    <div id="markers"></div>
    <div id="chart"></div>	
  </div>

  <div class="ui-layout-west">
    <div id="console">
      <div id="console_top">
        <div id="history"></div>
        <div id="user_query">member(A, [a,b,c]).</div>
      </div>
      <div id="console_bottom">
        <div id="query_buttons">
          <ul class="query_button_group">
            <li><a href="#" class="query_button" id="btn_query"  onclick="knowrob.query()">Query</a></li>
            <li><a href="#" class="query_button" id="btn_query_next" onclick="knowrob.next_solution()">Next Solution</a></li>
      {% if current_user.is_authenticated and current_user.has_role('admin') %}
            <li><a href="#" class="query_button admin_button" id="btn_query_save" onclick="save_query()">Save</a></li>
      {% endif %}
          </ul>
          <div class="clear">&nbsp;</div>
        </div>
      </div>
    </div>
    <div id="library">
      <select name="examplequery" id="examplequery"
      {% if current_user.is_authenticated and current_user.has_role('admin') %}
        ondblclick="set_query_text()"
      {% endif %}
        onchange="knowrob.add_selected_to_queryform('examplequery')">
        <option value=0></option>
      </select>
    </div>
  </div>
  
  <div class="ui-layout-east">
    <div id="designator"></div>
    <div id="mjpeg"></div>
  </div>
{% endblock %}
