{% extends "knowrob_layout.html" %}


<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->


{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/three.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/ColladaLoader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/threejs/STLLoader.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/ColladaAnimationCompress/ColladaLoader2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/depthcloud/DepthCloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Arrow.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Axes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/Grid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/MeshResource.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/models/TriangleList.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerControl.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerHandle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/interactivemarkers/InteractiveMarkerMenu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/maps/OccupancyGridClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/maps/OccupancyGrid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/MarkerArrayClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/markers/Marker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/urdf/UrdfClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/urdf/Urdf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/SceneNode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/Highlighter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/MouseHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/visualization/interaction/OrbitControls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/json_prolog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/KeepAlivePublisher.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_bold.typeface.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_regular.typeface.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/html2canvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/FileSaver.js') }}"></script>
  <!-- TODO: What are these scripts used for ? -->
  <script type="text/javascript" src="{{ url_for('static', filename='lib/canvg/rgbcolor.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/canvg/StackBlur.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/canvg/canvg.js') }}"></script>
  <script type="text/javascript">
    // global knowrob handle
    var knowrob;
    
    $(document).ready(function () {
      // The file that contains example queries
      var exp_url = "{% if exp_url %}{{ exp_url }}{% else %}{{ undefined }}{% endif %}";
      var auth = '{{ authentication }}';
      var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
      var rosUrl = wsproto + '://{{ host_url }}/ws/{{ container_name }}/';
      knowrob = new Knowrob({
            ros_url: rosUrl,
            episode_url: exp_url,
            authentication: auth,
            auth_url: '/api/v1.0/auth_by_session',
            meshPath: '/meshes/',
            mngDBName: "{{ category }}_{{ exp }}"
      });
      knowrob.init();
      
      setInterval(container_refresh, 570000);
      container_refresh();
    });
    function container_refresh() {
        $.ajax({
            url: '/api/v1.0/refresh_by_session',
            type: "GET",
            contentType: "application/json",
            dataType: "json"
        });
    };
  </script>
{% endblock %}

{% block _menu_right %}
  <li><a id="exp-value">Experiment</a><ul id="exp-menu" style="min-width: 180px;"></ul></li>
{% endblock %}
