{% extends "layout_header.html" %}

{% block head %}
  <meta charset="utf-8" />
  <link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='lib/font/font.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/screen.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/overlay/iosOverlay.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/overlay/prettify.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/layout/layout-default-1.4.0.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/user.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/iosOverlay.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/spin.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/prettify.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-1.11.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.ui.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/layout/jquery.layout-1.4.0.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/three.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/ColladaLoader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/STLLoader.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ColladaAnimationCompress/ColladaLoader2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/depthcloud/DepthCloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Arrow.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Axes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Grid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/MeshResource.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/TriangleList.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerControl.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerHandle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerMenu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGridClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGrid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerArrayClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/Marker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/UrdfClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/Urdf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/SceneNode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/Highlighter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/MouseHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/OrbitControls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_bold.typeface.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_regular.typeface.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/canvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/client.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/episode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/menu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/tutorial-page.js') }}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var auth = '{{ authentication }}';
    var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
    var rosUrl = wsproto + '://{{ host_url }}/ws/{{ container_name }}/';
    var client = new KnowrobClient({
            username: '{{ current_user.username }}',
            ros_url: rosUrl,
            authentication: auth,
            auth_url: '/api/v1.0/auth_by_session',
            meshPath: '/meshes/',
            category: '{{ category }}',
            episode: '{{ exp }}',
            user_interfaces: OPENEASE_USER_IFACES,
            menu: menu
        });
    var ui;
    
    $(document).ready(function () {
        client.init();
        ui = new TutorialUI(client, {});
        ui.init();
        
        var pageLayout = $('#page-content').layout({
            stateManagement__enabled: true,
            south: { minSize: 60 },
            west: {
                minSize: 250,
                size: 500,
                // INNER-LAYOUT
                childOptions: {
                    center: {
                        paneSelector: "#console",
                        onresize: function() {
                            ace.edit("history").resize(true);
                            ace.edit("user_query").resize(true);
                        },
                        minSize: 250
                    },
                    south: { paneSelector: "#library", minSize: 150 }
                }
            },
            center: {},
            east: {
                minSize: 250,
                size: 500,
                initClosed: true,
                // INNER-LAYOUT
                childOptions: {
                    center: { paneSelector: "#designator", minSize: 250 },
                    south: { paneSelector: "#mjpeg", minSize: 150 }
                }
            }
        });
        centerLayout = $('#editor-container').layout({
            center: { paneSelector: "#markers", minSize: 50 },
            south: { paneSelector: "#chart", initClosed: true, minSize: 50 }
        });
        ui.resizeCanvas();
        
        $('#designator').change(function() { pageLayout.open('east'); });
        $('#mjpeg').change(function() { pageLayout.open('east'); });
        $('#chart').change(function() { centerLayout.open('south'); });
    });
  </script>

  <div id="page-content" style="width:100%; height:100%;">
    <div class="ui-layout-center" id="editor-container">
        <div id="markers"></div>
        <div id="chart"></div>	
    </div>

    <div class="ui-layout-west">
        <div id="console">
            <div id="console_top">
                <div id="history" style="font-size:20px;"></div>
                <div id="user_query" style="font-size:20px;">member(A, [a,b,c]).</div>
            </div>
            <div id="console_bottom">
                <div id="query_buttons">
                <ul class="query_button_group">
                    <li><a href="#" class="query_button" id="btn_query"  onclick="ui.query()">Query</a></li>
                    <li><a href="#" class="query_button" id="btn_query_next" onclick="ui.next_solution()">Next Solution</a></li>
                </ul>
                </div>
            </div>
        </div>
        <div id="library" class="black_border" style="position:relative; left:0px; top:470px; width:auto; font-size:10pt; padding:5px 15px; overflow:auto; margin-top:10px;">
            <h2>{{ tut.cat_title }}</h2>
            <h4>{{tut.page}}. {{ tut.title }}</h4>
            {{ content }}

            <!-- Bottom navigation: prev and next tutorials -->
            <div style="position:relative; bottom:0; width:auto; height:25px; padding-bottom:10px;">
{% if prev %}
                <div style="float:left;">
                    <a href="{{ url_for('tutorials', cat_id=prev.cat_id, page=prev.page) }}">Previous: {{prev.title}}</a>
                </div>
{% endif %}
{% if nxt %}
                <div style="float:right;">
                    <a href="{{ url_for('tutorials', cat_id=nxt.cat_id, page=nxt.page) }}">Next: {{nxt.title}}</a>
                </div>
{% endif %}
            </div>
        </div>
    </div>
    
    <div class="ui-layout-east">
        <div id="designator"></div>
        <div id="mjpeg"></div>
    </div>
  </div>
  
{% endblock %}