{% extends "layout_header.html" %}

{% block head %}
  <meta charset="utf-8" />
  <link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='lib/font/font.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/screen.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/overlay/iosOverlay.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/overlay/prettify.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/layout/layout-default-1.4.0.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/user.css') }}"/>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/iosOverlay.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/spin.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/overlay/prettify.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-1.11.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.ui.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/layout/jquery.layout-1.4.0.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/three.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/ColladaLoader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/STLLoader.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ColladaAnimationCompress/ColladaLoader2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/depthcloud/DepthCloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Arrow.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Axes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Grid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/MeshResource.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/TriangleList.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerControl.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerHandle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerMenu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGridClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGrid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerArrayClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/Marker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/UrdfClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/Urdf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/SceneNode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/Highlighter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/MouseHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/OrbitControls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_bold.typeface.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_regular.typeface.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/canvas.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/console.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/client.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/episode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/menu.js') }}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var auth = '{{ authentication }}';
    var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
    var rosUrl = wsproto + '://{{ host_url }}/ws/{{ container_name }}/';
    var rosViewer;
    var plConsole;
    var client = new KnowrobClient({
            flask_user: flask_user,
            ros_url: rosUrl,
            authentication: auth,
            auth_url: '/api/v1.0/auth_by_session',
            meshPath: '/meshes/',
            category: '{{ category }}',
            episode: '{{ exp }}',
            user_interfaces: OPENEASE_USER_IFACES,
            menu: menu,
            require_episode: false,
            global_viewer: function() { return rosViewer.rosViewer; }
        });
    var imageWidth = function() { return 0.0; };
    var imageHeight = function() { return 0.0; };
    var ui = window;

    function resizeImage() {
        return imageResizer($('#mjpeg_image'), $('#mjpeg'), imageWidth(), imageHeight());
    };
    
    function on_marker_dblclick(marker) {};
    function on_marker_delete(ns) {};
    function on_episode_selected(lib) {};
    function on_marker_contextmenu(marker) {};
    function on_render(camera,scene) {};
    
    function on_designator_received(designatorHtml) {
        document.getElementById('designator').innerHTML = designatorHtml;
        $('#designator').change();
    };
    
    function on_image_received(imageHtml, imageWidth, imageHeight) {
        ui.imageWidth = imageWidth;
        ui.imageHeight = imageHeight;
        document.getElementById('mjpeg').innerHTML = imageHtml;
        $('#mjpeg').change();
        $('#mjpeg').resize();
    };
    
    function on_register_nodes() {
        var visClient, graphClient;
        visClient = new DataVisClient({
            ros: parent.client.ros,
            containerId: '#chart',
            topic: 'data_vis_msgs'
        });
        // FIXME(daniel): task tree allways takes a lot of space
        //graphClient = new TaskTreeVisClient({
        //    ros: parent.client.ros,
        //    containerId: '#chart',
        //    topic: 'task_tree_msgs'
        //});
    };
    
    function on_camera_pose_received(pose) {};
    
    $(document).ready(function () {
        client.init();
        
        plConsole = new PrologConsole(client, {use_console_overlay: false});
        plConsole.init();
        
        rosViewer = client.newCanvas({
            divID: document.getElementById('markers')
        });
        resizeCanvas();
        
        var pageLayout = $('#page-content').layout({
            stateManagement__enabled: true,
            south: { minSize: 60 },
            west: {
                minSize: 250,
                size: 500,
                // INNER-LAYOUT
                childOptions: {
                    center: {
                        paneSelector: "#console",
                        onresize: function() {
                            ace.edit("history").resize(true);
                            ace.edit("user_query").resize(true);
                        },
                        minSize: 250
                    },
                    south: { paneSelector: "#library", minSize: 150 }
                }
            },
            center: {},
            east: {
                minSize: 250,
                size: 500,
                initClosed: true,
                // INNER-LAYOUT
                childOptions: {
                    center: { paneSelector: "#designator", minSize: 250 },
                    south: { paneSelector: "#mjpeg", minSize: 150 }
                }
            }
        });
        centerLayout = $('#editor-container').layout({
            center: { paneSelector: "#markers", minSize: 50,
                      onresize: function() { resizeCanvas(); } },
            south: { paneSelector: "#chart", initClosed: true, minSize: 50 }
        });
        resizeCanvas();
        
        $('#designator').change(function() { pageLayout.open('east'); });
        $('#mjpeg').change(function() { pageLayout.open('east'); });
        $('#chart').change(function() { centerLayout.open('south'); });
        $('#mjpeg').resize(function(){
            var timeout = function(){ if(resizeImage()) window.setTimeout(timeout, 10); };
            if(resizeImage()) window.setTimeout(timeout, 10);
        });
        
        loadTutorial('overview', 1);
    });

    function resizeCanvas() {
        rosViewer.resize($('#markers').width(), $('#markers').height());
    };
    
    function loadTutorial(category, page) {
        $.ajax({
            url: "/tutorials/get",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({category: category, page: page}),  
            dataType: "json"
        }).done( function (data) {
            var lib = document.getElementById('library');
            lib.innerHTML = ''; // clear
            // <h2>tut.cat_title</h2>
            var h2 = document.createElement("h2");
            h2.innerHTML = data.this.cat_id;
            lib.appendChild(h2);
            // <h4>tut.page.  tut.title</h4>
            var h4 = document.createElement("h4");
            h4.innerHTML = data.this.page + '. ' + data.this.title;
            lib.appendChild(h4);
            // {{ content }}
            var text = document.createElement("div");
            text.innerHTML = data.this.text;
            lib.appendChild(text);
            // <div id="tut_nav">
            var nav = document.createElement("div");
            nav.id = 'tut_nav';
            if(data.prev) {
                // <div style="float:left;">
                //    <a onclick="loadTutorial(prev.cat_id, prev.page)">Previous: prev.title</a>
                // </div>
                var link = document.createElement("div");
                var link_a = document.createElement("a");
                link.style.float = 'left';
                link_a.innerHTML = 'Previous: ' + data.prev.title
                link_a.onclick = function() { loadTutorial(data.prev.cat_id, data.prev.page); };
                link.appendChild(link_a);
                nav.appendChild(link);
            }
            // <div style="float:right;">
            //    <a onclick="loadTutorial(nxt.cat_id, nxt.page)">Next: nxt.title</a>
            // </div>
            var link = document.createElement("div");
            var link_a = document.createElement("a");
            link.style.float = 'right';
            if(data.next) {
                link_a.innerHTML = 'Next: ' + data.next.title
                link_a.onclick = function() { loadTutorial(data.next.cat_id, data.next.page); };
            } else {
                link_a.innerHTML = 'Tutorial Overview'
                link_a.onclick = function() { loadTutorial('overview', 1); };
            }
            link.appendChild(link_a);
            nav.appendChild(link);
            
            lib.appendChild(nav);
            
            // hook for links of class "show_code" that pastes the content of the
            // previous code block into the query field
            $( "a.show_code" ).click(function( event ) {
                plConsole.setQueryValue( $(this).closest("pre + *").prev().find('code').html() );
                event.preventDefault();
            });
        });
    };
    
    function highlightElement(name, type, highlight) {
      if(typeof type == "string") {
        if(type === "class") {
          var elems = document.getElementsByClassName(name);
          for (i = 0; i < elems.length; i++) {
            elems[i].style.backgroundColor = highlight ? "#144F78" : "#BBB";
            elems[i].style.border = highlight ? "5px solid #144F78" : "1px solid #BBB";
            //elems[i].change();
          }
        }
        else if(type === "id") {
          document.getElementById(name).style.border = highlight ? "5px solid #144F78" : "1px solid #BBB";
          //document.getElementById(name).style.margin = highlight ? "-5px !important" : "0px !important";
          $('#'+name).change();
        }
      }
    }; 
  </script>

  <div class="page" id="page" style="overflow: hidden;">
    <div id="page-content" style="width:100%; height:100%;">
        <div class="ui-layout-center" id="editor-container">
            <div id="markers"></div>
            <div id="chart"></div>	
        </div>

        <div class="ui-layout-west">
            <div id="console">
                <div id="console_top">
                    <div id="history" style="font-size:20px;"></div>
                    <div id="user_query" style="font-size:20px;"></div>
                </div>
                <div id="console_bottom">
                    <div id="query_buttons">
                        <ul class="query_button_group">
                            <li><a href="#" class="query_button" id="btn_query"  onclick="plConsole.query()">Query</a></li>
                            <li><a href="#" class="query_button" id="btn_query_next" onclick="plConsole.nextSolution()">Next Solution</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="library" class="black_border" style="position:relative; left:0px; top:470px; width:auto; font-size:10pt; padding:5px 15px; overflow:auto; margin-top:10px;">
            </div>
        </div>
        
        <div class="ui-layout-east">
            <div id="designator"></div>
            <div id="mjpeg"></div>
        </div>
    </div>
  </div>
  
{% endblock %}