{% extends "knowrob_layout.html" %}


<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->


{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/three.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/ColladaLoader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/threejs/STLLoader.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ColladaAnimationCompress/ColladaLoader2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/depthcloud/DepthCloud.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Arrow.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Axes.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/Grid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/MeshResource.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/models/TriangleList.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerControl.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerHandle.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/interactivemarkers/InteractiveMarkerMenu.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGridClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/maps/OccupancyGrid.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerArrayClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/markers/Marker.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/UrdfClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/urdf/Urdf.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/Viewer.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/SceneNode.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/Highlighter.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/MouseHandler.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/visualization/interaction/OrbitControls.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/KeepAlivePublisher.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/designator/desig.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_bold.typeface.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/font/helvetiker_regular.typeface.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob.js') }}"></script>
  
  <script type="text/javascript">
    // global knowrob handle
    var knowrob;
    
    $(document).ready(function () {
      var auth = '{{ authentication }}';
      var wsproto = 'ws' + (location.protocol === 'https:'?'s':'');
      var rosUrl = wsproto + '://{{ host_url }}/ws/{{ container_name }}/';
      
      knowrob = new Knowrob({
            ros_url: rosUrl,
            authentication: auth,
            auth_url: '/api/v1.0/auth_by_session',
            meshPath: '/meshes/',
            category: "{{ category }}",
            episode: "{{ exp }}"
      });
      knowrob.init();
      
      setInterval(container_refresh, 570000);
      container_refresh();
    });
    function container_refresh() {
        $.ajax({
            url: '/api/v1.0/refresh_by_session',
            type: "GET",
            contentType: "application/json",
            dataType: "json"
        });
    };
  </script>
{% endblock %}

{% block _menu_right %}
  <li><a id="exp-value">Experiment</a><ul id="exp-menu" style="min-width: 180px;"></ul></li>
{% endblock %}
