{% extends "layout.html" %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery.ui.css') }}"/>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/google-jsapi.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Timeline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/TaskTreeVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/chart/Control.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/console.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/kb-frame.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/teaching.js') }}"></script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.common.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.default.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='lib/kendo/kendo.dataviz.default.min.css') }}" />
  <script type="text/javascript"  src="{{ url_for('static', filename='lib/kendo/kendo.all.min.js') }}"></script>
 
   <link rel="stylesheet" href="{{ url_for('static', filename='lib/jsondiff/html.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='lib/jsondiff/annotated.css') }}" />
   <script type="text/javascript" src="{{ url_for('static', filename='lib/jsondiff/jsondiffpatch.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='lib/jsondiff/jsondiffpatch-formatters.min.js') }}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var ui;
    var visClient, graphClient;
    var current_exercise_id = 0;
    
    $(document).ready(function () {
        $("#dialog").dialog({
            autoOpen: false,
            modal: true
        });
        ui = new KnowrobUI(parent.client, {
            use_console_overlay: true
        });
        ui.init();
        loadTutorial('overview', 1);
        resize();
        
        if(parent.client.nodesRegistered && !visClient) {
            on_register_nodes();
        }
    });
    
    function on_marker_dblclick(marker) {
        var prolog = parent.client.newProlog();
        prolog.jsonQuery("term_to_atom("+marker.ns+",MarkerName), "+
            "marker_queries(MarkerName, MarkerQueries).",
            function(result) {
                prolog.finishClient();
                ui.loadObjectQueries(result.solution.MarkerQueries);
            }
        );
    };
    
    function on_marker_delete(ns) {
        if(parent.client.selectedMarker != undefined && ns === parent.client.selectedMarker) {
            ui.initQueryLibrary();
        }
    };
    
    function on_designator_received(obj) {
      $('#designator').html('');
      $('#designator').append(obj);
      $('#designator').change();
    };
    
    function on_image_received(imageHtml, imageWidth, imageHeight) {
        ui.imageWidth = imageWidth;
        ui.imageHeight = imageHeight;
        
        document.getElementById('mjpeg').innerHTML = imageHtml;
        $('#mjpeg').change();
        $('#mjpeg').resize();
    };
    
    function on_camera_pose_received(pose) {
        ui.setCameraPose(pose);
    };
    
    function on_register_nodes() {
        visClient = new DataVisClient({
            ros: parent.client.ros,
            containerId: '#chart',
            topic: 'data_vis_msgs'
        });
    };
    
    function resizeImage() {
        return imageResizer($('#mjpeg_image'), $('#mjpeg'),
            imageWidth($('#mjpeg_image'))[0],
            imageHeight($('#mjpeg_image'))[0]);
    };

    function resize() {
        var pageLayout = $('#page-content').layout({
            stateManagement__enabled: true,
            south: { minSize: 60 },
            west: {
                minSize: 250,
                size: 500,
                // INNER-LAYOUT
                childOptions: {
                    center: { paneSelector: "#markers", minSize: 250,
                      onresize: function() { ui.resizeCanvas(); } },
                    south: {
                        paneSelector: "#console",
                        onresize: function() {
                            ace.edit("history").resize(true);
                            ace.edit("user_query").resize(true);
                        },
                        minSize: 150
                    }
                }
            },
            center: {},
            east: {
                minSize: 250,
                size: 500,
                // INNER-LAYOUT
                childOptions: {
                    center: { paneSelector: "#designator", minSize: 250 },
                    south: { paneSelector: "#mjpeg", minSize: 150 }
                }
            }
        });
        centerLayout = $('#editor-container').layout({
            center: { paneSelector: "#library", minSize: 250 },
            south: { paneSelector: "#chart", initClosed: true, minSize: 50 }
        });
        pageLayout.open('east');
        pageLayout.open('west');
        centerLayout.open('south');
        
        ui.resizeCanvas();
        
        $('#designator').change(function() { pageLayout.open('east'); });
        $('#mjpeg').change(function() { pageLayout.open('east'); });
        $('#chart').change(function() { centerLayout.open('south'); });
        $('#mjpeg').resize(function(){
            var timeout = function(){ if(resizeImage()) window.setTimeout(timeout, 10); };
            if(resizeImage()) window.setTimeout(timeout, 10);
        });
    };
    
    function loadTutorial(category, page) {
        $.ajax({
            url: "/tutorials/get",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({category: category, page: page}),  
            dataType: "json"
        }).done( function (data) {
            var lib = document.getElementById('library');
            lib.innerHTML = ''; // clear
            // <h2>tut.cat_title</h2>
            var h2 = document.createElement("h2");
            h2.innerHTML = data.this.cat_id;
            lib.appendChild(h2);
            // <h4>tut.page.  tut.title</h4>
            var h4 = document.createElement("h4");
            h4.innerHTML = data.this.page + '. ' + data.this.title;
            lib.appendChild(h4);
            // {{ content }}
            var text = document.createElement("div");
            text.innerHTML = data.this.text;
            lib.appendChild(text);
            // <div id="tut_nav">
            var nav = document.createElement("div");
            nav.id = 'tut_nav';
            if(data.prev) {
                // <div style="float:left;">
                //    <a onclick="loadTutorial(prev.cat_id, prev.page)">Previous: prev.title</a>
                // </div>
                var link = document.createElement("div");
                var link_a = document.createElement("a");
                link.style.float = 'left';
                link_a.innerHTML = 'Previous: ' + data.prev.title
                link_a.onclick = function() { loadTutorial(data.prev.cat_id, data.prev.page); };
                link.appendChild(link_a);
                nav.appendChild(link);
            }
            // <div style="float:right;">
            //    <a onclick="loadTutorial(nxt.cat_id, nxt.page)">Next: nxt.title</a>
            // </div>
            var link = document.createElement("div");
            var link_a = document.createElement("a");
            link.style.float = 'right';
            if(data.next) {
                link_a.innerHTML = 'Next: ' + data.next.title
                link_a.onclick = function() { loadTutorial(data.next.cat_id, data.next.page); };
            } else {
                link_a.innerHTML = 'Tutorial Overview'
                link_a.onclick = function() { loadTutorial('overview', 1); };
            }
            link.appendChild(link_a);
            nav.appendChild(link);
            
            lib.appendChild(nav);
            
            // hook for links of class "show_code" that pastes the content of the
            // previous code block into the query field
            $( "a.show_code" ).click(function( event ) {
                ui.console.setQueryValue(
                    $(this).closest("pre + *").prev().find('code').html(),
                    true);
                event.preventDefault();
            });
        });
    };
    
    function highlightElement(name, type, highlight) {
      if(typeof type == "string") {
        var highlighter = $('#dom-highlight');
        var element = undefined;
        if(type === "class") {
            element = $('.'+name);
        }
        else if(type === "id") {
            element = $('#'+name);
        }
        if(highlight && element) {
            highlighter.css('display', 'block');
            highlighter.css('width',  element.width());
            highlighter.css('height', element.height());
            highlighter.css('top',    element.offset().top);
            highlighter.css('left',   element.offset().left);
            element.change();
        }
        else {
            highlighter.css('display', 'none');
        }
      }
    }; 
  </script>

<div id="page-content">
    <div class="ui-layout-center" id="editor-container">
        <div id="library" class="black_border tutorial-library">
        </div>
        <div id="chart">
This pane can visualize statistical data using different chart types.
        </div>	
    </div>

    <div class="ui-layout-west">
        <div id="markers"></div>
        <div id="console">
            <div id="console_top">
                <div class="console_text" id="history" style="font-size:20px;"></div>
                <div class="console_text" id="user_query" style="font-size:20px;"></div>
            </div>
            <div id="console_bottom">
                <div id="query_buttons">
                    <ul class="query_button_group">
                        <li><a href="#" class="query_button icon_question" id="btn_query" onclick="ui.console.query()" title="Ask a query"></a></li>
                        <li><a href="#" class="query_button icon_redo" id="btn_query_next" onclick="ui.console.nextSolution()" title="Infer next solution"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        
    <div class="ui-layout-east">
        <div id="designator">
This pane enables the user to inspect the internal data structures of the robot's beliefs
including object, action, and location descriptions used by the robot.
        </div>
        <div id="mjpeg">
This pane is used for displaying images captured by the robot's camera.
It's also possible to play videos in this pane (captured during task execution or generated
by openEASE episode replay).
        </div>
    </div>
    
    <div id="dom-highlight">
</div>
  
{% endblock %}