{% extends 'layout.html' %}

{% block menu %}
  <div class="header">
    <nav id="navbar-tool">
      <a class="navbar-tool-brand" href="http://www.open-ease.org"><img src="{{ url_for('static', filename='logos/oe-logo-small.svg') }}"> openEASE</a>
      <a class="navbar-tool-brand navbar-tool-brand-2" href="http://ai.uni-bremen.de/"><img src="{{ url_for('static', filename='logos/ai_logo_white.png') }}"></a>
      <a class="navbar-tool-brand navbar-tool-brand-2" href="http://www.informatik.uni-bremen.de/cms/detail.php?id=12"><img src="{{ url_for('static', filename='logos/uni-bremen.png') }}"></a>
    </nav>
  </div>
  <div class="metanav">
    <div class="metanav_left">
      <ul class="menu aligned-left" id="menu-left">
      </ul>
    {% if current_user.is_authenticated %}
      <ul class="menu aligned-left" id="frame-menu-left">
      </ul>
    {% endif %}
    </div>
    <div class="metanav_right">
      {% if not current_user.is_authenticated %}
        <a href="{{ url_for('user.login') }}">Sign in</a>
      {% else %}
        <ul class="menu aligned-right" id="frame-menu-right">
        </ul>
        <ul class="menu aligned-right" id="menu-right">
        </ul>
      {% endif %}
    </div>
  </div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/menu.js') }}"></script>
  <script type="text/javascript">
    var OPENEASE_USER_IFACES = [
        { id: 'kb', src:'/knowrob', name: 'Knowledge Base' },
        { id: 'replay', src:'/video', name: 'Episode Replay' },
        { id: 'editor', src:'/editor', name: 'Text Editor' },
        { id: 'logs', src:'/log', name: 'Log' }
    ];
  
    function FlaskUser(){
        this.username = '{{ current_user.displayname or current_user.username }}';
        this.mail     = '{{ current_user.email }}';
        this.isLoggedIn = function() {
            return '{{ current_user.is_authenticated }}' == 'True';
        };
        this.isAdmin = function() {
            return '{{ current_user.is_authenticated and current_user.has_role("admin") }}' == 'True';
        };
    };
    var flask_user = new FlaskUser();
    var menu = new KnowrobMenu(flask_user, OPENEASE_USER_IFACES);
    
    $(document).ready(menu.updateMenu);
  </script>
  
{% endblock %}
