{% extends 'flask_user/public_base.html' %}
{% block bodyargs %} {% endblock %}
{% block content_inner %}

<div class="page-centered">
    <div class="headline"><div class="content-box" id="welcome-headline-box"></div></div>

    <div id="page-body">
        <div class="content-box" id="user-data-box">
            <h1 class="content-box-header">{%trans%}Signed in as{%endtrans%}</h1>
            <dl>
                <dt>Username: </dt><dd>{{ current_user.username }}</dd>
                <dt>Email: </dt><dd>{{ current_user.email }}</dd>
                <dt>Roles: </dt><dd>{{ role_names }}</dd>
                <dt>API token: </dt><dd>{{ session.api_token }} (<a href="{{ url_for('create_api_token') }}">create new</a>)</dd>
            </dl>
        </div>
        <div class="content-box" id="video-box">
            <h1 class="content-box-header">Howto use openEASE</h1>
            <video id="howto-video" width="420" height="236" src="{{ url_for('static', filename='HowtouseopenEASE.mp4') }}" controls></video>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/db/docu/OVERVIEW',
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            success: function (data) { $("#welcome-headline-box").html(data.result); }
        });
    });
</script>

{% endblock %}

