{% extends "layout.html" %}
{% block bodyargs %}{% if overlay %} onload="showSpinnerOverlay()"{% endif %}{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='lib/layout/jquery.layout-1.4.0.js') }}"></script>
  <script type="text/javascript">
    function on_marker_dblclick(marker) {};
    function on_marker_delete(ns) {};
    function on_designator_received(designatorHtml) {};
    function on_image_received(imageHtml, imageWidth, imageHeight) {};
    function on_camera_pose_received(pose) {};
    function on_episode_selected(lib) {};
    function on_marker_contextmenu(marker) {};
    function on_render(camera,scene) {};
    function on_register_nodes() {};
    
    $(document).ready(function () {
      update_editor();
      $('#page-content').layout();
    });
  </script>
  
  <script id="entity_body" type="text/pain">{{log}}</script>
  <script type="text/javascript">
    function update_editor() {
        var edit = ace.edit("editor");
        edit.resize(true);
        edit.setTheme("ace/theme/solarized_light");
        edit.getSession().setUseWrapMode(true);
        edit.setOptions({
            showGutter: true,
            printMarginColumn: true,
            highlightActiveLine: true,
            highlightGutterLine: true,
            readOnly: true
        });
        edit.setValue(document.getElementById('entity_body').innerHTML, -1);
    }
  </script>
{% endblock %}
{% block content %}

<div class="page-centered">
    <div class="headline"><div class="content-box" id="welcome-headline-box">
<h1 class="content-box-header">openEASE User Profile</h1>
    </div></div>

    <div id="page-body">
        <div class="content-box" id="user-data-box">
            <h1 class="content-box-header">{%trans%}Signed in as{%endtrans%}</h1>
            <dl>
                <dt>Username: </dt><dd>{{ current_user.username }}</dd>
                <dt>Email: </dt><dd>{{ current_user.email }}</dd>
                <dt>Admin rights: </dt><dd>{{ current_user.has_role("admin") }}</dd>
                <dt>API token: </dt><dd>{{ session.api_token }} (<a href="{{ url_for('create_api_token') }}">create new</a>)</dd>
            </dl>
        </div>
        <div class="content-box" id="video-box">
            <h1 class="content-box-header">Howto use openEASE</h1>
            <video id="howto-video" width="420" height="236" src="{{ url_for('static', filename='HowtouseopenEASE.mp4') }}" controls></video>
        </div>
    </div>
</div>

{% endblock %}

