{% extends "layout.html" %}

{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='lib/EventEmitter2/eventemitter2.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ros/src/Ros3D.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/roslibjs/roslib.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/json_prolog.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='lib/utility.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='lib/knowrob/replay-frame.js') }}"></script>
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var ui;
    
    function on_marker_dblclick(marker) {};
    function on_marker_delete(ns) {};
    function on_designator_received(designatorHtml) {};
    function on_image_received(imageHtml, imageWidth, imageHeight) {};
    function on_camera_pose_received(pose) { ui.setCameraPose(pose); };
    function on_marker_contextmenu(marker) {};
    function on_render(camera,scene) {};
    function on_register_nodes() {};
    
    function on_episode_selected(lib) {
        // stop replay if active
        ui.stopStreaming();
        // reset to initial state
        document.getElementById("replay-episode-value").innerHTML = 'Choose an existing video query';
        document.getElementById("replay-episode-list").innerHTML  = '';
        ui.hideReplayBox('replay-configuration-box');
        ui.hideReplayBox('replay-panel-box');
        // load selected video query
        ui.initVideoDivs();
        ui.updateStartTime();
        ui.updateEndTime();
    };
    
    function resize() {
      $('#page-content').layout({
        stateManagement__enabled: true,
        south: {
          minSize: 60
        },
        west: {
          minSize: 250,
          maxSize: 750,
          size: 350,
          onresize: function() {
            ace.edit("init_query").resize(true);
            ace.edit("user_query").resize(true);
          }
        },
        center: {
          // INNER-LAYOUT
          childOptions: {
            center: {
              paneSelector: "#markers",
              onresize: function() {
               if( knowrob ) knowrob.resize_canvas();
              },
              minSize: 250
            },
            south: {
              paneSelector: "#tasktree",
              initClosed: true,
              minSize: 150
            }
          }
        }
      });
      ui.resizeCanvas();
    };
    
    $(document).ready(function () {
        ui = new KnowrobReplayUI(parent.client, {});
        ui.init();
        resize();
      
        //document.getElementById("summary").innerHTML='<img class="picture" src="/knowrob/knowrob_data/plan_summary_imgs/'+message.data+'" width="300" height="240"/>';
      
        $("#replay-start-time").on("change", function(){
          if(document.getElementById("replay-start-time").value > document.getElementById("replay-end-time").value){
              document.getElementById("replay-start-time").value = document.getElementById("replay-end-time").value - 1;
          }
          ui.updateStartTime();
        });
        $("#replay-end-time").on("change", function(){
          if(document.getElementById("replay-start-time").value > document.getElementById("replay-end-time").value) {
              document.getElementById("replay-end-time").value = document.getElementById("replay-start-time").value + 1;
          }
          ui.updateEndTime();
        });
      
        //var visClient = new TaskTreeVisClient({
        //    ros: knowrob.ros,
        //    containerId: '#tasktree',
        //    topic: 'task_tree_msgs'
        //});
    });
  </script>
  
  <div id="page-content" style="width:100%; height:100%;">
    <div class="ui-layout-center" id="replay-canvas">
        <div id="markers"></div>
        <div id="tasktree"></div> 
    </div>

    <div class="ui-layout-west" id="replay-layout-west">
        <div class="content-box replay-box" id="replay-selection-box">
            <h1 class="content-box-header" onclick="ui.toggleContent('replay-selection-toggle', 'replay-episode-form')">
                <image src="/static/images/shade.png"
                    class="content-box-toggle"
                    id="replay-selection-toggle"/> 
                <a href="#">Video Selection</a>
            </h1>
            <form id="replay-episode-form" action="" class="form" role="form">
                <div id="replay-episode-field" class="form-group">
                    <ul class="menu pkg-menu" id="replay-episode-selection"><li>
                        <a href="#" id='replay-episode-value'>Choose an existing video query</a>
                        <ul id='replay-episode-list'></ul>
                    </li></ul>
                </div>
                <button id="new-video-button" type="button" class="btn btn-lg btn-primary btn-block" onclick="ui.newVideo()">New</button><br>
        {% if current_user.is_authenticated and current_user.has_role('admin') %}
                <button id="del-video-button" type="button" class="btn btn-lg btn-primary btn-block" onclick="ui.deleteVideo()">Delete</button><br>
        {% endif %}
            </form>
        </div>
            
        <div class="content-box replay-box replay-box-hidden" id="replay-configuration-box">
            <h1 class="content-box-header" onclick="ui.toggleContent('replay-configuration-toggle', 'replay-configuration-form')">
                <image src="/static/images/unshade.png"
                    class="content-box-toggle"
                    id="replay-configuration-toggle"/>
                <a href="#">Settings</a>
            </h1>
            <form id="replay-configuration-form" action="" class="form hidden-form" role="form" onsubmit="return false">              
                <div id="name-field">
                    <input id="name-text" type="text" placeholder="Video Query Name"/>
                </div>

                <div id="time-sequence-field" style="margin-bottom:10px;">
                    <select id="time-sequence-dropdown" onchange="ui.setTimeSlides()"/>
                </div>
                        
                <div id="replay-start-time-field">
                    <select id="time-sequence-dropdown" onchange="ui.setTimeSlides()"/>
                    <label for="replay-start-time">Start Time</label>
                    <input id="replay-start-time" type="range" min="0" max="0" value="0" oninput="ui.updateStartTime()" />
                    <div id="replay-start-value">00:00</div>
                </div>
                
                <div id="replay-end-time-field" class="form-group">
                    <label for="replay-end-time">End Time</label>
                    <input id="replay-end-time" type="range" min="0" max="0" value="0" oninput="ui.updateEndTime()" />
                    <div id="replay-end-value">00:00</div>
                </div>
                
                <div id="replay-fps-field" class="form-group">
                    <label for="replay-fps">Frames Per Second</label>
                    <input id="replay-fps" type="number" id="fps" value="6" />
                </div>
                
                <div id="init_query-field" class="form-group">
                    <label for="init_query">Initial Query</label>
                    <div id="init_query"></div>
                </div>
                
                <div id="user_query-field" class="form-group">
                    <label for="user_query">Animation Query</label>
                    <div id="user_query"></div>
                </div>
                
        {% if current_user.is_authenticated and current_user.has_role('admin') %}
                <button id="save-video-button" type="button" class="btn btn-lg btn-primary btn-block" onclick="ui.saveVideoSettings()">Save</button><br>
        {% endif %}
            </form>
        </div>
            
        <div class="content-box replay-box replay-box-hidden" id="replay-panel-box">
            <h1 class="content-box-header" onclick="ui.toggleContent('replay-panel-toggle', 'replay-panel-form')">
                <image src="/static/images/unshade.png"
                    class="content-box-toggle"
                    id="replay-panel-toggle"/>
                <a href="#">Replay</a>
            </h1>
                
            <form id="replay-panel-form" action="" class="form hidden-form" role="form" onsubmit="return false">
                <div id="replay-progress-field" class="form-group">
                    <label for="replay-progress-bar">Progress</label>
                    <input id="replay-progress-bar" type="range" min="0" max="100" value="0" disabled />
                    <div id="replay-progress-value">00:00</div>
                </div>
                <button id="replay-toggle-button" class="btn btn-lg btn-primary btn-block" onclick="ui.startStreaming()">Start</button>
            </form>
        </div>
    </div>
  </div>

{% endblock %}
