{% extends "knowrob.html" %}


{% block content %}

  <div id="console" class="black_border" style="position:absolute; top:50px; width:495px; height:460px;">
    <div id="history" style="position:relative; top:0px; height:330px; padding:5px;"></div>
    <script>
      var history = setupHistoryField();
    </script>

    <div id="user_query" style="position:relative; top:0px; height:115px; border-top:1px solid black;">member(A, [a,b,c]).</div>
    <script>
      var user_query = setupQueryField();
    </script>
  </div>

  <div id="markers" class="black_border" style="position:absolute; left:520px; top:50px; width:820px; height:460px;"></div>

  
  <div id="library" class="black_border" style="position:relative; left:0px; top:470px; width:1295px; font-size:10pt; padding:5px 15px; overflow:auto; margin-top:10px;">
    <h2>{{ tut.cat_title }}</h2>
    <h4>{{tut.page}}. {{ tut.title }}</h4>
    {{ content }}


    <!-- Bottom navigation: prev and next tutorials -->
    <div style="position:relative; bottom:0; width:1295px; height:25px; padding-bottom:10px;">
      {% if prev %}
	<div style="float:left;">
	  <a href="{{ url_for('tutorials', cat_id=prev.cat_id, page=prev.page) }}">Previous: {{prev.title}}</a>
	</div>
      {% endif %}
      {% if nxt %}
	<div style="float:right;">
	  <a href="{{ url_for('tutorials', cat_id=nxt.cat_id, page=nxt.page) }}">Next: {{nxt.title}}</a>
	</div>
      {% endif %}
    </div>
  </div>

{% endblock %}
