{% extends "layout.html" %}


<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->


{% block head %}

  <script type="text/javascript" src="{{ url_for('static', filename='ace/ace.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='ros/three.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/eventemitter2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/ColladaLoader2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/roslib.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/mjpegcanvas.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/ros3d.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/json_prolog.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/MarkerClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ros/MarkerArrayClient.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.v3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='d3/d3-tip.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='chart/google-jsapi.js') }}"></script>
  
  <script type="text/javascript" src="{{ url_for('static', filename='chart/DonutChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/BarChart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/TreeDiagram.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/Timline.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/DataVisClient.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/array-nonstandard.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='chart/Control.js') }}"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='designator/desig.js') }}"></script>

  
  <script type="text/javascript">

    // global ROS handle
    var ros;

    //global jsonprolog handle
    var prolog;

    function init() {

      // Connect to ROS.
      ros = new ROSLIB.Ros({
        url : 'ws://{{ host_url }}/ws/{{ session.user_container_name }}/'
      });

      // Create the main viewer.
      var viewer = new ROS3D.Viewer({
        divID : 'markers',
        width : 820,
        height : 460,
        antialias : true,
        background : '#ffffff'
      });

      viewer.addObject(new ROS3D.Grid());

      // Setup a client to listen to TFs.
      var tfClient = new ROSLIB.TFClient({
        ros : ros,
        angularThres : 0.01,
        transThres : 0.01,
        rate : 10.0,
        fixedFrame : '/my_frame'
      });

      // Setup the marker client.
      var markerClient = new ROS3D.MarkerClient({
        ros : ros,
        tfClient : tfClient,
        topic : '/visualization_marker',
        rootObject : viewer.scene
      });

      // Setup the marker array client.
      var markerArrayClient = new ROS3D.MarkerArrayClient({
        ros : ros,
        tfClient : tfClient,
        topic : '/visualization_marker_array',
        markerClient : markerClient
      });

      var options = {
        ros: ros,
        containerId: '#chart',
        topic: 'data_vis_msgs',
        //width: 500,//210,
        //height: 500//210
      };
      var dataVisClient = new DataVisClient(options);
      
      // fill example query select
      populateQuerySelect('examplequery', "{% if exp_query_file
          %}{{ url_for('static', filename=exp_query_file) }}{%
        else
          %}{{ url_for('static', filename='queries.json') }}{%
        endif %}");

    };

    function queryProlog(query) {
    
      var history = ace.edit("history");
      var q = query.getValue().trim();
    
      if (q.substr(q.length - 1) == ".") {
        q = q.substr(0, q.length - 1);

        if (prolog != null && prolog.finished == false) {
          prolog.finishClient();
        }

        prolog = new JsonProlog(ros, {});

        
        history.setValue(history.getValue() + "\n\n?- " + q +  ".\n", -1);
        history.gotoLine(history.getSession().getLength(), 0);

        prolog.jsonQuery(q, function(result) {
            history.setValue(history.getValue() + result, -1);
            history.gotoLine(history.getSession().getLength(), 0);
        });
        
        query.setValue("");
        
      } else {
        if (prolog != null && prolog.finished == false) {
          prolog.finishClient();
        }
      }
    };

    function nextQueryProlog() {
    
      var history = ace.edit("history");
      prolog.nextQuery(function(result) {
            history.setValue(history.getValue() + result, -1);
            history.gotoLine(history.getSession().getLength(), 0);
        });

      user_query.focus();
    };


    // example query selection stuff
    // -------------------------------------

    // fill the select with json data from url
    function populateQuerySelect(id, url) {

      // url must point to a json-file containing an array named "query" with
      // the query strings to display in the select
      var request = new XMLHttpRequest
      request.open("GET", url, false);
      request.send(null);

      var querylist = JSON.parse(request.responseText);

      var select = document.getElementById(id);

      for (var i = 0; i < querylist.query.length; i++) {
        var opt = document.createElement('option');
        opt.value = querylist.query[i].q;
        opt.innerHTML = querylist.query[i].text;
        select.appendChild(opt);
      }
    }

    // append the selected query to the user_query form
    function addSelectedToQueryform(selectid) {
      var select = document.getElementById(selectid);
      setQueryValue(select.options[select.selectedIndex].value);
    }

    // set the value of the query editor and move the cursor to the end
    function setQueryValue(val){
      user_query.setValue(val, -1);
      user_query.focus();
      session = user_query.getSession();
      count = session.getLength();
      user_query.gotoLine(count, session.getLine(count-1).length);
    }

    // hook for links of class "show_code" that pastes the content of the
    // previous code block into the query field
    $( document ).ready(function() {
      $( "a.show_code" ).click(function( event ) {
        setQueryValue( $(this).closest("pre + *").prev().find('code').html() );
        event.preventDefault();
      });
    });

    function setupHistoryField() {
        var history = ace.edit("history");
        history.setTheme("ace/theme/solarized_light");
        history.getSession().setMode("ace/mode/prolog");
        history.getSession().setUseWrapMode(true);
        history.setOptions({
            readOnly: true,
            showGutter: false,
            printMarginColumn: false,
            highlightActiveLine: false,
            highlightGutterLine: false
        });
//         history.renderer.$cursorLayer.element.style.opacity=0;
        
        return history;
    }

    function setupQueryField() {

        var user_query = ace.edit("user_query");
        user_query.resize(true);
        user_query.setTheme("ace/theme/solarized_light");
        user_query.getSession().setMode("ace/mode/prolog");
        user_query.getSession().setUseWrapMode(true);
        user_query.setOptions({
            showGutter: false,
            printMarginColumn: false,
            highlightActiveLine: false,
            highlightGutterLine: false
        });
        user_query.commands.addCommand({
            name: 'send_query',
            bindKey: {win: 'Ctrl-Enter',  mac: 'Command-Enter'},
            exec: function(editor) {
                queryProlog(user_query);
            },
            readOnly: false
        });
        user_query.commands.addCommand({
            name: 'next_result',
            bindKey: {win: 'Ctrl-;',  mac: 'Command-;'},
            exec: function(editor) {
                nextQueryProlog();
            },
            readOnly: false
        });

        return user_query;
    }
</script>
{% endblock %}

<!-- # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # -->

{% block bodyargs %} onload="init()"{% endblock %}

