<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Oswald|Source+Code+Pro" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='screen.css') }}"/>
</head>


<body>
  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      Logged in as {{ session.username }} &nbsp;
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </div>
  <div style="padding-left:20px;">
  <h1>RoboHow Web Console</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}


<!--   {% for message in get_flashed_messages() %} -->
<!--   <div class=flash>{{ message }}</div> -->
<!--     {% endfor %} -->
    {% block body %}{% endblock %}
  </div>

</body>
</html>
