<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" media="all" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Oswald|Source+Code+Pro" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='screen.css') }}"/>
  <link rel="stylesheet" src="{{ url_for('static', filename='overlay/iosOverlay.css') }}"/>
  <link rel="stylesheet" src="{{ url_for('static', filename='overlay/prettify.css') }}"/>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
  {% block head %}{% endblock %}
</head>


<body {% block bodyargs %}{% endblock %}>
  <div class="metanav">
    <div class="metanav_left">
      <a href="{{ url_for('knowrob') }}" id="loading">KnowRob Query Interface</a> &nbsp;&nbsp;
<!--       <a href="{{ url_for('knowrob') }}">Log Data Analysis</a> &nbsp;&nbsp; -->
<!--       <a href="{{ url_for('tutorials') }}">Tutorials</a> -->
    </div>
    <div class="metanav_right">
      {% if not session.logged_in %}
	<a href="{{ url_for('login') }}">log in</a>
      {% else %}
	Logged in as <a href="{{ url_for('show_user_data') }}">{{ session.username }}</a> &nbsp;
	<a href="{{ url_for('logout') }}">log out</a>
      {% endif %}
    </div>
  </div>
  
  <div style="padding-left:15px;">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
  </div>


  <script type="text/javascript">
    // Overlay for loading
    function showSpinnerOverlay() {
        var opts = {
                lines: 13, // The number of lines to draw
                length: 11, // The length of each line
                width: 5, // The line thickness
                radius: 17, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                color: '#FFF', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
        };
        var target = document.createElement("div");
        document.body.appendChild(target);
        var spinner = new Spinner(opts).spin(target);
        iosOverlay({
                text: "Loading",
                duration: 2e3,
                spinner: spinner
        });
        return false;
    }

</script>

</body>
</html>
