{% extends "layout.html" %}
{% block content %}

<h2>Your user data</h2>
<dl>
  <dt>Username: </dt><dd>{{ session.username }}</dd>
  <dt>Email: </dt><dd>{{ session.email }}</dd>
  <br/>

  <dt>KnowRob container: </dt><dd>{{ session.user_container_name }}</dd>
  <dt>User data container: </dt><dd>{{ session.user_data_container_name }}</dd>
  <dt>Common data container: </dt><dd>{{ session.common_data_container_name }}</dd>
  <br/>

  <dt>KnowRob container ID: </dt><dd>{{ session.user_container_id }}</dd>
  <dt>KnowRob container HTML port: </dt><dd>{{ session.port_1111 }}</dd>
  <dt>KnowRob container Websocket port: </dt><dd>{{ session.port_9090 }}</dd>


</dl>

{% endblock %}
